---
http_interactions:
- request:
    method: get
    uri: https://api.merchantos.com/API/Account/-/Customer.json?customerID=1&limit=1&load_relations=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Basic realm="MerchantOS API"
      X-Ls-Master-System:
      - 'false'
      X-Ls-Master-Catalog:
      - 'false'
      X-Ls-Master-Account:
      - 'false'
    body:
      encoding: ASCII-8BIT
      string: '{
        "@attributes": {
          "count": "1"
        },
        "Customer": {
          "customerID": "6",
          "firstName": "John",
          "lastName": "Doe",
          "title": "",
          "company": "",
          "companyRegistrationNumber": "",
          "vatNumber": "",
          "creditAccountID": "2",
          "customerTypeID": "0",
          "discountID": "0",
          "taxCategoryID": "0",
          "customerID": "7",
          "createTime": "2017-03-03T15:39:34+00:00",
          "timeStamp": "2017-03-16T04:10:29+00:00",
          "archived": "false"
        }
      }'
  recorded_at: Wed, 23 Jan 2019 20:24:01 GMT
recorded_with: VCR 4.0.0
